
.depicter-revert .depicter-34-element-17{
	font-size:24px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-34-element-16{
	font-size:34px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-34-element-11{
	font-size:36px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:400;
	line-height:130%;
	background-color:transparent;
}
.depicter-revert .depicter-34-element-10{
	font-size:24px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-34-element-9{
	font-size:36px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:800;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-34-element-8{
	font-size:24px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-34-element-7{
	font-size:36px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:800;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-34-section-3 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-34-element-28{
	font-size:24px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-34-element-27{
	font-size:34px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-34-element-23{
	font-size:36px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-34-element-22{
	font-size:24px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-34-element-21{
	font-size:36px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:800;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-34-element-20{
	font-size:24px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-34-element-19{
	font-size:36px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:800;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-34-section-18 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-34-element-39{
	font-size:24px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-34-element-38{
	font-size:34px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-34-element-34{
	font-size:36px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:400;
	line-height:130%;
	background-color:transparent;
}
.depicter-revert .depicter-34-element-33{
	font-size:24px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-34-element-32{
	font-size:36px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:800;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-34-element-31{
	font-size:24px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-34-element-30{
	font-size:36px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:800;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-34-section-29 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-34-element-50{
	font-size:24px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-34-element-49{
	font-size:34px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-34-element-45{
	font-size:36px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:400;
	line-height:130%;
	background-color:transparent;
}
.depicter-revert .depicter-34-element-44{
	font-size:24px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-34-element-43{
	font-size:36px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:800;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-34-element-42{
	font-size:24px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-34-element-41{
	font-size:36px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:800;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-34-section-40 .depicter-section-background{
	background-color:#FFFFFF;
}

