
.depicter-revert .depicter-4-element-63{
	font-size:15px;
	color:#000000;
	font-family:"Open Sans";
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-58{
	font-size:40px;
	color:#BFBFBF;
	font-family:"Open Sans";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-56{
	font-size:56px;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-4-section-55 .depicter-section-background{
	background-color:#000000;
}
.depicter-revert .depicter-4-element-88{
	font-size:15px;
	color:#000000;
	font-family:"Open Sans";
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-83{
	font-size:40px;
	color:#BFBFBF;
	font-family:"Open Sans";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-81{
	font-size:56px;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-4-section-80 .depicter-section-background{
	background-color:#000000;
}
.depicter-revert .depicter-4-element-97{
	font-size:15px;
	color:#000000;
	font-family:"Open Sans";
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-92{
	font-size:40px;
	color:#BFBFBF;
	font-family:"Open Sans";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-90{
	font-size:56px;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-4-section-89 .depicter-section-background{
	background-color:#000000;
}
.depicter-revert .depicter-4-element-106{
	font-size:15px;
	color:#000000;
	font-family:"Open Sans";
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-101{
	font-size:40px;
	color:#BFBFBF;
	font-family:"Open Sans";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-99{
	font-size:56px;
	color:#FFFFFF;
	font-family:"Open Sans";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-4-section-98 .depicter-section-background{
	background-color:#000000;
}

