
.depicter-revert .depicter-41-element-5{
	font-size:24px;
	text-align:justify;
	color:#BFBFBF;
	font-family:"Montserrat";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-41-element-3{
	font-size:34px;
	color:#FFFFFF;
	font-family:"Montserrat";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-41-section-1 .depicter-section-background{
	background-color:#2D2F31;
}
.depicter-revert .depicter-41-element-13{
	font-size:25px;
	color:#BFBFBF;
	font-family:"Montserrat";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-41-element-12{
	font-size:34px;
	color:#FFFFFF;
	font-family:"Montserrat";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-41-section-10 .depicter-section-background{
	background-color:#2D2F31;
}
.depicter-revert .depicter-41-element-35{
	font-size:34px;
	text-align:right;
	color:#FFFFFF;
	font-family:"Montserrat";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-41-element-21{
	font-size:24px;
	color:#BFBFBF;
	font-family:"Montserrat";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-41-section-18 .depicter-section-background{
	background-color:#2D2F31;
}
.depicter-revert .depicter-41-element-29{
	font-size:24px;
	color:#BFBFBF;
	font-family:"Montserrat";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-41-element-28{
	font-size:34px;
	color:#FFFFFF;
	font-family:"Montserrat";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-41-section-26 .depicter-section-background{
	background-color:#2D2F31;
}

/*** Custom styles ***/
border-radius :12;


