
.depicter-revert .depicter-8-section-1 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-8-element-4{
	font-size:23px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-8-section-3 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-8-element-6{
	font-size:15px;
	color:#000000;
	font-family:"Open Sans";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-8-section-5 .depicter-section-background{
	background-color:#FFFFFF;
}

